@charset "UTF-8";

/* CSS Document */
#info {
  background: #f5f5f5;
  padding: 2em 0;
  margin: 3em auto;
}

#info h2 {
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.3em;
}

#info h2 span {
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-left: 1em;
  display: inline-block;
}
